
body{
  margin: 0;
}

.nav div { 
  background-image: url('../img/pattern.png');
  background-color: rgba(78,160,255,255);
  background-attachment: scroll;
  height: 170px;

}

.nav div img{
  width: 300px;
  padding-top: 80px;
}

